body{
	background-image: url('../img/BlueBlock.jpg');
	font-family: 'Crete Round', serif;
	color: #336699;
}

.container{
	display: flex;
	flex-wrap: wrap;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	opacity: 1;
}

.header{
	display: flex;
	justify-content: space-between;
	text-align: right;
	font-weight: bold;
	font-size: 8px;
}

.logo img{
	width: 100px;
	float: left;
	padding-top: 15px;
	padding-left: 15px;
}

.info{
	padding-top: 15px;
	padding-right: 15px;
}

.cover, .header{
	width: 100%;
}

.cover img{
	width: 100%;
	object-position: left;
}

.projects{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.featured{
	width: 100%;
	text-align: center;
}

/**http://enjoycss.com/start#border helped me to design the border**/
.box{
	padding: 1%;
	border: 6px double rgba(91,175,111,1);
	border-radius: 5px;
}

.projectTitle{
	font-weight: bold;
	text-align: center;
	color: black;
}

@media screen and (max-width: 360px){
	.container, .logo, .info, .box, .workImg, .primary, .projects{
		width: 100%;
		font-size: 6px;
		align-items: center;
	}

	.box{
		margin-top: 1%;
		margin-bottom: 1%;
	}

	.header{
		display: block;
		align-self: center;
	}
}

@media screen and (min-width: 361px) and (max-width: 600px){
	.box, .logo, .info{
		width: 43%;
		font-size: 6px;
	}

	.box{
		margin: .5%;
	}

	.workImg{
		width: 100%;
	}

	.primary, .projects{
		width: 100%;
	}

}


@media screen and (min-width: 601px){
	.projects{
		width: 100%;
	}

	.box, .logo, .info{
		width: 44%;
	}

	.box{
		margin: .5%;
	}

	.primary{
		width:100%;
	}

	.workImg{
		width: 100%;
	}
}
